.fondo {
    background-color: whitesmoke;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.fondo h1 {
    color: black;
}

.social li {
    font-size: 17px;
    display: inline-block;
    padding-right: 1%;
}

li a {
    color: black !important;
}

nav {
    margin-top: 6%;
    border-top: 1px solid black;
}

a:hover {
    text-decoration: none !important;
}

h5 {
    font-size: 15px !important;
}

.espaciado {
    padding-bottom: 3%;
}

.espaciado_2 {
    padding-top: 2%;
}

.card-container {
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    border: 1px solid #369 !important;
    box-shadow: 3px 3px 8px;
    width: 18rem !important;
    background: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.card-horizontal {
    border-radius: 25px !important;
    border: 1px solid #369 !important;
    box-shadow: 3px 3px 8px;
    width: 18rem;
    background: whitesmoke;
    text-align: center;
    padding-top: 10px;
}

.card_color {
    background-color: #f3eded;
}

.container-img {
    text-align: center !important;
    margin-bottom: 10px;
}

.photo {
    border-radius: 100%;
    box-shadow: 3px 3px 8px;
    float: inline-start;
    width: 120px;
    height: 120px;

}

.photo-horizontal {
    border-radius: 100%;
    box-shadow: -3px 3px 8px;
    display: inline-block;
    width: 50px;
    height: 50px;

}

.photo-horizontal2 {
    border-radius: 100%;
    box-shadow: 3px 3px 8px;
    display: inline-block;
    margin-left: -15px;
    width: 50px;
    height: 50px;

}

.ecci_logos {
    width: 300px;
    height: 48px;
}

footer {
    background-color: #2d2d2d;
    color: white;
    padding: 4%;
}

p {
    font-size: 12px;
}


.icon-cards {
    position: relative;
    width: 18rem !important;
    height: 40vw;
    max-width: 380px;
    margin: 0;
    color: black;
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 18rem !important;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 18rem;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }
  .icon-cards__item:nth-child(1) {
    transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    transform: rotateY(120deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    transform: rotateY(240deg) translateZ(35vw);
  }
  
  @-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  
  @keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }