.fondo {
    background-color: whitesmoke;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.fondo h1 {
    color: black;
}

.social li {
    font-size: 17px;
    float: right;
    padding-right: 1%;
}

ul{
    list-style: none;
}

li a {
    color: black !important;
    list-style: none;
}

a{
    font-size: 12px !important;
}

nav {
    margin-top: 6%;
    border-top: 1px solid black;
}

a:hover {
    text-decoration: none !important;
}

.espaciado {
    padding-bottom: 3%;
}

.espaciado_2 {
    padding-top: 2%;
}

.card_color {
    background-color: #f3eded;
}

.ecci_logos {
    width: 300px;
    height: 48px;
}

.text{
    height: 80px;
    overflow: auto;
    margin-bottom: 8px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
}

.card-text{
    font-size: 13px;
}

.footer-principal-page {
    background-color: #2d2d2d;
    color: white;
    padding: 4%;
}