---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="CEINTECCI">
  <Page title="¿Quiénes Somos?">
    <p>
      El Centro de Investigación e Innovación en Tecnología y Ciencia, CEINTECCI, 
      es un centro de investigaciones adscrito a la Universidad ECCI. Su creación,
       a finales de 2015, hace parte de la estrategia institucional para el fortalecimiento 
       de las investigaciones interdisciplinarias que generan nuevo conocimiento y desarrollo 
       tecnológico con un enfoque social. 
    </p>

    <p>
      CEINTECCI, es un espacio que conjuga la I+D+i de las áreas de IT y Electrónica Flexible, 
      Ciencia y Simulación de Datos, Materiales Avanzados y Diseño Mecánico, Biociencia-Bioingeniería y 
      Análisis de Sistemas Energéticos, con el propósito de generar desarrollo económico, social y cultural 
      que garantizan la interacción de la investigación con el sector social y productivo.
    </p>

    <p>
      La actividad principal de CEINTECCI es la construcción y apropiación de nuevo conocimiento a partir de 
      las investigaciones científicas, para ello, el Centro de investigación está conformado por una comunidad 
      interdisciplinaria de profesores y estudiantes adscritos de las diferentes facultades quienes, generan 
      sinergias para resolver los retos sociales e industriales. CEINTECCI cuenta con siete laboratorios 
      especializados:
    </p>

    <p>
      <ul>
        <li>LabIT</li>
        <li>Laboratorio de simulaciones</li>
        <li>Laboratorio de hipertermia</li>
        <li>laboratorio Blab</li>
        <li>Laboratorio BSL3</li>
        <li>Laboratorios de Materiales</li>
        <li>Laboratorio de biomecánica.</li>
      </ul>   
    </p>
    <p>
      De igual forma, CEINTECCI presta servicios científicos especializados, incentiva la divulgación 
      científica y la formación del capital humano para la investigación. Estas actividades se generan 
      entre todos los actores de I+D+i.
    </p>  
    <p>
      Para más información puedes consultar el <a href="https://www.ecci.edu.co//centro-de-investigacion/" target="_blank">siguiente link.</a>
    </p>  
  </Page>
</Base>
